//variables de color

$main_color:rgb(158, 91, 15);
$secundarycolor: rgb(103, 80, 80);

//fonts

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Rubik+Distressed&family=Rubik+Maze&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


$main_font :'Schoolbell';
$secundary_font: "Dancing Script";
$terciary_font:'Gloria Hallelujah';

$textbold: 600;
$textregular: 400;

