//introduccion index

.main_introduccion--l {

    color:rgb(99, 61, 61);
    text-decoration: none;
    text-align: center;
    font-family:$main_font;
    font-size: 22px;

}

.novedades_parrafo--m, .menu_parrafo--m, .eventos_parrafo--m, .conocenos_parrafo--m, .card-text {

    color:rgb(99, 61, 61);
    text-decoration: none;
    text-align:left;
    font-family:$main_font;
    font-size: 18px;
    font-weight: $textregular;

}