@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Rubik+Distressed&family=Rubik+Maze&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    padding: 0;
    margin: 0;
}

h1{
    COLOR:rgb(158, 91, 15);
    font-family: "Dancing Script";
    font-size: 40px;
    text-align: center;
    padding: 5px;
    margin:25px
}

h2{
    color: rgb(182, 59, 35);
    font-family: "Dancing Script";
    font-size: 30px;
    padding: 5px;
    margin:25px
}


h3{
    color: rgb(182, 59, 35);
    font-family: "Dancing Script";
    font-size: 30px;
    padding: 5px;
    margin:25px
}

h4{
    color: rgb(182, 59, 35);
    font-family: "Dancing Script";
    text-align: center;
    font-size: 25px;
    padding: 5px;
    margin:25px   

}

h5{
    color: rgb(182, 59, 35);
    font-family: "Dancing Script";
    text-align: center;
    font-size: 25px;
    padding: 5px;
    margin:25px  

}

h6{
   
    color: rgb(182, 59, 35);
    font-family: "Dancing Script";
    text-align: left;
    font-size: 22px;
    padding: 5px;
    margin: 10px; 
    text-align: center; 
}



.index_titulo2_m{
    display:flex;
    justify-content: flex-end;
}

body{
    background-image:url(../Img/Background-5-2.png);
   

}


.nav-edit{
    Background: rgb(103, 80, 80);
    padding: 6px 20px;
}

.encabezado_img--fluid{
    width: 110%;
    border-top: 10px; 
}
  
nav ul li a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-family:'Gloria Hallelujah';
    font-size: 20px;

    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

nav ul li a:hover{

    color: rgb(216, 162, 68);
	font-weight: 600;
	background-size: 100% 2px;

}


nav{

    Background: rgb(103, 80, 80);
    position:fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

nav ul{
    list-style: none;
    display: inline-flex;

}

.text-style{
    text-align: left;
}



.main_introduccion--l {
    background-color: rgb(255, 187, 0);;
    width: 90%;
    height: auto;
    margin: 50px auto;
    padding: 40px 20px;
    border: dashed black 4px

}
.main_introduccion--l {

    color:rgb(99, 61, 61);
    text-decoration: none;
    text-align: center;
    font-family:'Schoolbell';
    font-size: 22px;

}
.novedades_parrafo--m, .menu_parrafo--m, .eventos_parrafo--m, .conocenos_parrafo--m, .card-text {

    color:rgb(99, 61, 61);
    text-decoration: none;
    text-align:left;
    font-family:'Schoolbell';
    font-size: 18px;

}

.etiquetas_texto--s{

    color:rgb(99, 61, 61);
    text-decoration: none;
    font-family:'Indie Flower', cursive;
    font-size: 18px;
    list-style: none;

}



li{

    color:rgb(255, 255, 255);
    text-decoration: none;
    font-family:'Indie Flower', cursive;
    font-size: 18px;
    padding: 5px;
    margin: 10px 60px;
}

.conocenos_parrafo--m{
    background-color: rgb(255, 187, 0);
    width: 90%;
    height: auto;
    margin: 30px 30px;
    padding: 20px 20px;
    border: dashed black 4px

}

.menu_parrafo--m{
    background-color: rgb(255, 187, 0);
    width: 90%;
    height: auto;
    margin: 50px auto;
    padding: 40px 20px;
    border: dashed black 4px;
    text-align:center;
    font: size 25px

}

.novedades_parrafo--m{

    background-color: rgb(255, 187, 0);
    width: 90%;
    height: auto;
    margin: 50px auto;
    padding: 30px 30px;
    border: dashed black 4px

}

.eventos_parrafo--m{
    background-color: rgb(255, 187, 0);
    width: 90%;
    height: auto;
    margin:50px auto;
    padding: 30px 30px;
    border: dashed black 4px
}

.contacto_iframe-l{
    margin:30px auto;
    padding: 20px 20px;
}


.contacto_formulario--m{

    margin:30px auto;
    padding: 20px 20px;

}
.pie_icon-s{
    width: 40px;
    display: flex;
    justify-content: center;
}

.menu_descripciones-m{

    color:rgb(99, 61, 61);
    text-decoration: none;
    font-family:'Indie Flower', cursive;
    font-size: 18px;
    padding: 5px;
    margin: 10px 40px;
}



img{
    margin:20px;
    padding:10px;
    border:rgb(180, 94, 44)
}

.novedades_iframe-l, .conocenos_iframe--l{

    margin: 10px 10px;
    padding:10px ;

}

figcaption{
    margin: 2px 20px;
    padding: 1px 1px;
    COLOR:rgb(158, 91, 15);
    font-family: "Dancing Script";
    font-size: 25px;
    text-align: center;
} 

.logo_img-fluid{
    width: 100px;
    margin: 30px;
    padding:5px ;
}



.conocenos_img--m{
width: 420px;
border-style: dashed;
border-color: black;
}


.menu_platillos_img--s{

    width: 300px;
}

.eventos_img--m{
    width: 300px;
}


/* CONOCENOS FLEXBOX */

.conocenos_container--l{
    display:flex;
    flex-direction: row;
}

.conocenos_container_iframe{
    display:flex;
    justify-content: center;
}



.footer_container--s{
    display:flex;
    justify-content: center;
}

/*  NOVEDADES FLEXBOX */

.novedades_container--l{
    display:flex;
}

.novedades_container_iframes--m{

    display:flex;
    justify-content: center;

}

/*  MENU FLEXBOX */

.menu_container--l{
display:flex;
flex-direction: row;
justify-content:center ;
}

.menu_container--l{
    display:flex;
    flex-direction: row;
}

/*  EVENTOS FLEXBOX */

.eventos_informacion_container--m{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.eventos_imagenes_container--m{
    display:flex;
    justify-content: center;
    flex-direction: row;
}

/*  INDEX FLEXBOX */

.article_container--m{
    display:flex;
    justify-content: space-around;
    flex-direction: row;

}

.index_container_proceso--m{
    display:flex;
    flex-direction: row;
    justify-content: center;

}

.proceso{

    margin: 2px 2px;
    padding: 2px 2px;


}

.menu_container--l{
    margin: 2px 2px;
    padding: 2px 2px;

}

/* GRIDS */

.menu_container--l{
    display: grid;

    grid-template-columns: repeat(4,1fr);
    height: 700px;
    width: 900px;

}
.menu_sandwiches_container--l{

    grid-column-start:2;
    grid-column-end:5;
    grid-row-start:2;
    grid-row-end:3;
 
}

.menu_costillas_container--l{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;


}

.menu_alitas_container--l{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;


}

.menu_pastas_container--l{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;


}

.menu_guarniciones_container--l{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;


}



/* GRIDS INDEX */

/*.index_container{

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);

    height: 700px;
    width: 900px;
} */

/*
.main_titulo--xl{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;

}
.introduccion_index-l{
 
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
 
}

.main_introduccion--l{
    text-align: left;
}

.py-3{
   grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

/*
.articulo_index_m{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;

}
.article_container--m{
    flex-direction: column;
}
.index_container_proceso--m{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
}

.footer_container--s{
    display: flex;
    align-items: flex-end;
}

.index_container_proceso--m{
    display: flex;
    margin: 30px;
}

*/

/*MOBILE FIRST INDEX
#body_index--l{
display:grid;
grid-template-columns: 1fr;
grid-template-rows: auto;
grid-template-areas:
"nav"
"encabezado"
"tituloindex"
"introduccionindex"
"especialidades"
"ordena"
"pie";

}

.nav-edit{
    grid-area: nav;

}

header{
    grid-area: encabezado;
}

.main_titulo--xl{

    grid-area: tituloindex;
}

.introduccion_index-l{

    grid-area: introduccionindex;   
}

.articulo_index_m{
    grid-area: especialidades;
}

.section_orden--m{
    grid-area: ordena;
    flex-direction: column;


}
.pie_index-s{
    grid-area: pie;

}

@media (min-width:768px){	
    .body_conocenos--l{
    grid-template-columns: 100vh;
    grid-template-areas: 
    "nav"
    "encabezado"
    "tituloindex"
    "introduccionindex"
    "especialidades"
    "ordena"
    "pie";
}

} */


/*MOBILE FIRST CONOCENOS */

#body_conocenos--l{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav"
    "encabezado"
    "vaca parrafoconocenos"
    "iframeconocenos"
    "pieconocenos";
}

.nav-edit{
    grid-area: nav;

}

header{
    grid-area: encabezado;
}

.conocenos_container--l{
    grid-area: vaca;
    flex-direction: column;

}

.conocenos_parrafo--l{
    grid-area: parrafoconocenos;
}

.conocenos_container_iframe{
    grid-area: iframeconocenos;

}

.pie_conocenos_l{
    grid-area: pieconocenos;

}


@media (min-width:768px){	
    .body_conocenos--l{
    grid-template-columns: 100vh;
    grid-template-areas: 
    "nav nav"
    "encabezado" 
    "vaca"
    "parrafoconocenos" 
    "iframeconocenos"
    "pieconocenos";
}
.conocenos_container--l{
    grid-area: vaca;
    flex-direction: column;

}

}

@media (min-width:1024px){
	.body_conocenos--l{
		grid-template-columns: 30vw 70vw;
		grid-template-areas: 
		"nav nav"
        "encabezado" 
		"vaca parrafoconocenos" 
		"iframeconocenos"
        "pieconocenos";
	}
    .conocenos_container--l{
        grid-area: vaca;
        flex-direction: row;
    }
}

/*MOBILE FIRST NOVEDADES*/ 

#body_novedades--l{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav"
    "encabezado"
    "parrafonovedades"
    "novedadesiframes"
    "pie";
}

.nav-edit{
    grid-area: nav;

}

header{
    grid-area: encabezado;
}

.container_novedades{
    grid-area: parrafonovedades;

}

.novedades_container_iframes--m{
    grid-area: novedadesiframes;
    flex-direction: column;
    
}

.pie{
    grid-area: pie;

}


@media (min-width:768px){
	.body_novedades--l{
		grid-template-columns: 30vw 70vw;
		grid-template-areas: 
		"nav nav"
        "encabezado" 
		"parrafonovedades" 
		"novedadesiframes novedadesiframes"
        "pie";
	}

}

@media (min-width:1024px){
	.body_novedades--l{
		grid-template-columns: 30vw 70vw;
		grid-template-areas: 
        "nav nav"
        "encabezado encabezado"
        "parrafonovedades"
    	"novedadesiframes novedadesiframes"
        "pie";
	}
    .novedades_container_iframes--m{
        grid-area: novedadesiframes;
        flex-direction:row;
    }

}


/* ANIMACIONES*/

.row:hover{
    transform: translate(-10px, 10px);
    cursor:pointer;
    transition: row 3s;

}

.card:hover{
    transform: translate(-10px, 10px);
    cursor:pointer; 
    transition: card 5s;
}

.etiquetas_texto_cancelar--s{
    width: 70px;
    height: 25px;
    text-align: center;
    background: linear-gradient(to top, rgb(189, 107, 80), rgb(213, 100, 65)  );
    display: flex;
    color: white;
    cursor: pointer;

}

.etiquetas_texto_enviar--s{
     width: 70px;
    height: 25px;
    text-align: center;
    background: linear-gradient(to top, rgb(189, 107, 80), rgb(213, 100, 65));
    display: flex;
    color: white;
    cursor: pointer;
}

.etiquetas_texto_cancelar--s:hover{
    background: linear-gradient(to top, rgb(201, 105, 25), rgb(224, 88, 25));
    text-align: center;
    cursor: pointer;
    transition: all 2s;
}

.etiquetas_texto_enviar--s:hover{
    background: linear-gradient(to top, rgb(201, 105, 25), rgb(224, 88, 25));
    text-align: center;
    cursor: pointer;
    transition: all 2s;

}

.botonera{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 250px;
    height: 25px;

}


header{
    height: 90vh;
    background-size: cover;
    animation-name: header_animation;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
/*
.card text-center{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
*/
p.card-text{
    text-align: center;
}

h5.card-title{
    margin: 1px;
}



.nav-link{
    display: flex;
    justify-content: space-around;
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-family:'Indie Flower', cursive;
    font-size: 23px;
    padding: 5px;
    margin: 10px 60px;

}

#index_container_proceso--m{
    display:grid;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "p_menu" 
    "p_flecha" 
    "p_elige"
    "p_flecha" 
    "p_pedido" 
    "p_flecha" 
    "p_direccion" 
    "p_flecha" 
    "p_pago";

}

.p_menu{
    grid-area: p_menu;
}

.p_elige{
    grid-area: p_elige;
}

.p_pedido{
    grid-area: p_pedido;
}

.p_direccion{
    grid-area: p_direccion;
}

.p_pago{
    grid-area: p_pago;
}

.p_flecha{
    grid-area: p_flecha;
}

@media (min-width:1024px){
	.index_container_proceso--m{
		grid-template-columns:12vw 10vw 12vw 10vw 12vw 10vw 12vw 10vw 12vw;
		grid-template-areas: 
		"p_menu p_flecha p_elige p_flecha p_pedido p_flecha p_direccion p_flecha p_pago"
        }

}

.card-text{

    text-align: left;
}

div.card.mb-3{

    background-color: rgb(255, 187, 0);
    width: 100%;
    height: auto;
    margin: 35px 35px;
    padding: 20px 20px;
    border: dashed black 4px;
    text-align: left;

}

main.contacto_rockburguers{
    margin: 30px
}
